*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(243, 235, 235);
  height: 700px;
  margin: 10px;
}
img{
  height: 100%;
}
p{
  font-size: 15px;
}
h1,pre{ 
}
#content{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
#skill{
}
.backg{
  height: 30px;
  width: 400px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
}
.ht,.cs,.sql{
  background-color: rgb(87, 87, 228);
  height: 25px;
  border-radius: 8px;
  text-align: end;
  /* animation-name: example; */
  animation-duration: 3s;
}
 .ht{
  animation-name: html;
  width: 320px;
 }
 @keyframes html {
  from {background-color: blue;}
  to{background-color: yellowgreen;}
  from{width: 0;}
  to{width: 320px;}

 }
 .cs{
  animation-name: css;
  /* animation-duration: 3; */
  width: 200px;
 }
 @keyframes css {
  from {background-color: blue;}
  to{background-color: yellowgreen;}
  from{width: 0;}
  to{width: 200px;} 
 }

 .sql{
  animation-name: sql;
  /* animation-duration: 3; */
  width: 280px;
 }
 @keyframes sql {
  from {background-color: blue;}
  to{background-color: yellowgreen;}
  from{width: 0;}
  to{width: 280px;} 
 }
 a{
    text-decoration: none;
    background-color: blue;
    color: white;
    
 }